torch==2.3.0 --index-url https://download.pytorch.org/whl/cu121
numpy==1.26.3
transformers==4.36.2
wandb==0.16.1
tensorboard==2.15.1
pydantic==2.5.3
pyyaml==6.0.1
tqdm==4.66.1
einops==0.7.0
click==8.1.7